<div class="container hidden" id="container">
  <div class="row">
    <div class="col-xs-4" id="store">
      <h4>Store Location:</h4>
      <p id="storeaddr"><%= @store.address %></p>
      <div id="map"></div>
    </div>
    <div class="col-xs-4" id="user">
      <h4>Your Location:</h4>
      <div id="useraddr"></div>
    </div>
    <div class="col-xs-4" id="divvy">
      <h4>Nearest Divvy:</h4>
      <p><%= @minStation['stationName'] %></p>
      <p>Address:</p>
      <p><%= @minStation['stAddress1'] %>, <%= @minStation['stAddress2'] %>
        <% if !@minStation['stAddress2'].blank? %>
          , 
        <% end %>
        <%= @minStation['city'] %>
      </p>
      <p>Coordinates:</p>
      <p>Lat: <%= @minStation['latitude'] %>, Lon: <%= @minStation['longitude'] %></p>
      <p>Look for the <%= image_tag src="divvy_reduced.png" %> icon on the map!</p>
    </div>
  </div>
</div>

<script>

var map;
var address;
var geolocate;
var userLat;
var userLon;
var userCoordinates;

getGeoLocation();

function initMap()
{
  address = "<%= @store.address %>";
  retrieveCoordinates( address );
}

function initMapSuccess() 
{
  initMap();
  retrieveAddress( userCoordinates );
}

function initMapFail()
{
  initMap();
}

function retrieveCoordinates( address )
{
    var lat = <%= @locLat %>;
    var lon = <%= @locLon %>;
    var latlng = { lat: lat, lng: lon };

    var mapOptions = { zoom: 15, center: latlng };
    map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker(
    {
      map: map,
      position: latlng
    });

    addDivvyMarker();
}

function retrieveAddress( latlng )
{
  var geocoder = new google.maps.Geocoder();

  geocoder.geocode( 
    { 'location': latlng },
    function( results, status ) 
    {
      if( status === google.maps.GeocoderStatus.OK && results[0] ) 
      {
        $( "#useraddr" ).html( results[0].formatted_address );
      }
      else
      {
        $( "#useraddr" ).html( userLat.toString() + ", " + userLon.toString() );
      }
    }
  );
}

function addDivvyMarker()
{
  var divvyLat = <%= @minStation['latitude'] %>;
  var divvyLon = <%= @minStation['longitude'] %>;
  var divvyLatLng = new google.maps.LatLng( divvyLat, divvyLon );

  var divvyMarker = new google.maps.Marker(
  {
    position: divvyLatLng,
    icon: "<%= asset_path('divvy_reduced.png') %>"
  });

  divvyMarker.setMap( map );
}

function getGeoLocation() 
{
  var userLat;
  var userLon;

  if( Modernizr.geolocation )
  {
    navigator.geolocation.getCurrentPosition( success, fail );
  }
  else
  {

  }
}

function success( position )
{  
  userLat = position.coords.latitude;
  userLon = position.coords.longitude;
  userCoordinates = { lat: userLat, lng: userLon };

  $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3kW-f2HVLw3SOIbjnJH5nM6tsQt4odI&callback=initMapSuccess");
  $( "#container" ).removeClass("hidden");
  $( "#user ").fadeIn();
}

function fail()
{
  $.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyBl3kW-f2HVLw3SOIbjnJH5nM6tsQt4odI&callback=initMapFail");
  $( "#container" ).removeClass( "hidden" );
}

function getDirections( address )
{
  var origin = $( "#useraddr" ).text();
  var destination = address;
  var key = "AIzaSyBl3kW-f2HVLw3SOIbjnJH5nM6tsQt4odI&callback=initMap"

  var request = "http://maps.googleapis.com/maps/api/directions/json?origin="; 
  request += origin;
  request += "&destination="; 
  request += destination;
  request += "&key=";
  request += key;
}
</script>

<script>